<!-- Main text
================================================== -->
<div class="container">
  <div class="row-fluid">
    <div class="middle-panel">
      <div class="middle-container span12">
        <p>
        England boasts an extremely diverse golfing landscape, with tremendous golf courses that form the building blocks for amazing golf tours. Our expertise enables us to offer the best in golf tours, encompassing the superb links courses that are dotted along the coastline, some of which have been included in the Open Championship rotation.
        </p>
        <p>
        The Southport area, often dubbed England's Golf Coast', is home to world renowned links tracks such as Royal Birkdale, Lytham and St. Annes, Formby and more, and is the most illustrious of England's golfing arenas. Further south, the Kent coastline is peppered with unmissable links layouts at Princes, Cinque Ports and the awe-inspiring Royal St George's.
        </p>
        <p>
        Courses of the quality of the idyllic Saunton help to explain the attraction of England's south west, while the combination of championship golf and a memorable night out lies at the heart of Bournemouth, the most popular venue for a golf tour with groups and societies.
        </p>
      </div>
    </div>
  </div>
</div>